{% extends 'home/base.html' %}
{% load static %}
{% block content %}
<div class="container mt-5 d-flex justify-content-center pe-5">
    <div class="mt-5">
        <ul>
            <li class="my-3 dv text-vanilla lg-text">Website: <a href="{{entry.website}}" target="_blank" rel="noopener noreferrer">{{entry.website}}</a>, Username: {{entry.username}}, Password: {{entry.password}}</li>
        </ul>
        <div class="mt-3 d-flex justify-content-center">
            <a class="btn me-3 text-oxford-blue btn-lime" href="{% url 'home' %}">Back</a>
            {% if entry.author == user %}
                <a class="btn me-3 btn-lime text-oxford-blue" href="{% url 'update' entry.id %}">Update</a>
                <a class="btn me-3 btn-lime text-oxford-blue" href="{% url 'delete' entry.id %}">Delete</a>
            {% endif %}
        </div>
    </div>

</div>
{% endblock content %}
