.bg-oxford-blue {
    background-color:#0A1128;
}

.text-white1 {
    color: #FEFCFB;
}

.text-oxford-blue {
    color: #0A1128 !important;
    font-weight: 700;
    font-size: large;
}

.btn-white {
    background-color: #FEFCFB;
}

.btn-vanilla {
    background-color: #F6F5AE;
}

.btn1 {
    text-decoration:line-through ;
}

.btn-oxford-blue {
    background-color: #0A1128;
}

.btn-lime {
    background-color: #DDFCAD;
    font-size: large;
}

.btn-lime:hover {
    background-color: #F6F5AE;
    font-size: large;
}

.text-penn-blue {
    color: #001F54;
}

.text-vanilla {
    color: #F6F5AE;
    font-weight: 700;
    font-size: large;
}

.text-vanilla:hover {
    color: #DDFCAD;
    font-weight: 700;
    font-size: large;
}

.text-lime {
    color: #DDFCAD;
    font-weight: 700;
    font-size: large;
}

.text-lime:hover {
    color: #F6F5AE;
    font-weight: 700;
    font-size: large;
}

.text-vanilla2 {
    color: #F6F5AE;
    font-weight: 700;
    font-size: xx-large;
    text-decoration: none;
}

.text-lime2 {
    color: #DDFCAD;
    font-weight: 700;
    font-size: xx-large;
    text-decoration: none;
}

.text-lime2:hover {
    color: #F6F5AE;
    font-weight: 700;
    font-size: xx-large;
    text-decoration: none;
}

.text-vanilla2:hover {
    color: #DDFCAD;
    font-weight: 700;
    font-size: xx-large;
    text-decoration: none;
}

.text-indigo-dye {
    color: #034078;
    font-weight: 700;
}

form {
    color: #DDFCAD;
    font-weight: 700;
    font-size: x-large;
}

a {
    color: #DDFCAD;
}

a:link:visited {
    color: #DDFCAD;
}

a:link:hover {
    color: #DDFCAD;
}

a:hover.text-oxford-blue {
    background-color: #DDFCAD;
}

a:link.text-vanilla {
    text-decoration: none;
}

a:link.text-lime {
    text-decoration: none;
}

.detail {
    text-decoration: none;
}

.lg-text {
    font-size: xx-large;
}

.lg-text:hover {
    font-size: xx-large;
}

.dv {
    list-style-type: none;
}

.removetextdecor {
    text-decoration: none;
}

body {
    background-color: #001F54;
}


.form-text {
    margin-top: 0.25rem;
    font-size: .875em;
    color: #f6f5aedc; /* dull version of color */
}

.secondary-vanilla {
    color: #f6f5aedc; /* dull version of color */
}

.secondary-vanilla:hover {
    color: #f6f5aedc; /* dull version of color */
}
